<%= form_tag search_users_path, html: {class: "form-horizontal"}, method: :get do %>
    <div class="form-group">      
      <div class="col-sm-4">
        <%= select_tag :role_name, options_for_select([["Select", ""]]+@roles.map{|role| [role.role_name, role.id]}), class: "form-control" %>
        </div>

        <div class="col-sm-4">
          <button type="submit" class="btn btn-default">Search</button>
        </div>

      </div>
    <% end %>
    <br />
    <div class="pull-right"><%= link_to "Add User", new_user_path, class: "btn btn-success" %></div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th><%= sortable "first_name" %></th>        
            <th><%= sortable "last_name" %></th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><% user.images.each do |image| %>&nbsp;<%= image_tag(image.avatar.url(:thumb)) %><% end %></td>
              <td><%= user.first_name %></td>        
              <td><%= user.last_name %></td>
              <td><% user.roles.reject(&:blank?).each do |role| %><%= Role.find(role).role_name %><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users %>